<div class="form-wrapper-large col-md-6 container-fluid" style="max-width: 700px;">
    <h1 style="    width: 300px;">seating-arrangement</h1>
    <br>
    <table style="width:100%;font-size: medium;color: rgb(19, 0, 54);" class="table table-striped">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th>table num</th>
                <th>categort</th>
                <th>list of g</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!--<tr *ngFor="let g of guests">-->

                <!-- <td class="hidden"></td>
    <td>{{g.guest_first_name}}</td>
     <td>{{g.guest_last_name}}</td>
    <td>{{g.gender}}</td>
    <td>  -->
            </tr>
        </tbody>
    </table>
</div>