<div class="form-wrapper-large col-md-10 container-fluid" style="max-width: 700px;">
    <h1>New Event</h1>

    <form [formGroup]="creatEvent" style="font-size: large;">
        <div class="row">

            <div class="form-group col-md-6" name="event_des">
                <label for="event_des">event name:</label>
                <input type="text" class="form-control" formControlName="event_des" id="event_des" autocomplete="off">
                <div class="error" *ngIf="creatEvent.controls['event_des'].hasError('required') && creatEvent.controls['event_des'].touched">event name is required</div>
            </div>
            <!-- <div class="form-group col-md-6" name="EventType" >
      <label dor="EventType">סוג ארוע:</label>
      <mat-select formControlName="EventType">
        <mat-option  *ngFor="let mes of eventTypeList" [value]="mes.Des" >
          {{mes.Des}}
        </mat-option>
      </mat-select>
      <div class="error"
        *ngIf="creatEvent.controls['EventType'].hasError('required') && creatEvent.controls['EventType'].touched">EventType
        is required</div>
    </div> -->

            <div class="form-group col-md-6" name="event_type_id">

                <label for="event_type_id">event type:</label>
                <select class="form-control" formControlName="event_type_id">
                    <option *ngFor="let mes of eventTypeList" [value]="mes.Id">
                        {{mes.Des}}
                    </option>
                </select>
                <div class="error" *ngIf="creatEvent.controls['event_type_id'].hasError('required') && creatEvent.controls['event_type_id'].touched">
                    EventType is required</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" name="event_date">
                <label for="event_date">event date:
      </label>
                <input type="date" class="form-control" formControlName="event_date" id="event_date" autocomplete="off">
                <div class="error" *ngIf="creatEvent.controls['event_date'].hasError('required') && creatEvent.controls['event_date'].touched">
                    EventDate is required</div>
            </div>
            <div class="form-group col-md-6" name="invitation_file">
                <label for="invitation_file">Upload file:
              </label>
                <div class="row">


                    <div class="col-md-8 custom-file-upload-wrapper">
                        <label class="custom-file-upload" for="invitation_file">
            <mat-icon>insert_drive_file</mat-icon>
            <input type="file"/>
            Upload file
        </label>
                        <div class="custom-file-upload-name-wrapper">
                            <label class="custom-file-upload-name" *ngIf="file">{{file.name}}</label>
                            <label class="custom-file-upload-name" *ngIf="!file">No file selected</label>
                        </div>
                    </div>

                    <input class="form-control col-md-8" type="file" (change)="onChange($event)" formControlName="invitation_file" id="invitation_file" autocomplete="off" style="border: none;">

                    <button (click)="onUpload()" class="btn-gold btn-smaller col-md-4" style="display: inline-block;">
                    Upload
                  </button>
                </div>



                <!-- <div class="text-center row">
                    <input class="form-control col-md-8" type="file" (change)="onChange($event)" 
                    formControlName="invitation_file" id="invitation_file" autocomplete="off" style="border: none;">

                    <button (click)="onUpload()" class="btn-gold btn-smaller col-md-4" style="display: inline-block;">
            Upload
          </button>
                </div> -->

                <!-- Shareable short link of  uoloaded file -->
                <div class="container text-center jumbotron" *ngIf="shortLink">
                    <h2> Visit Here</h2>
                    <a href="{{shortLink}}">{{shortLink}}</a>
                </div>

                <!--Flag variable is used here-->
                <div class="container" *ngIf="loading">
                    <h3>Loading ...</h3>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6" name="due_date">
                <label for="due_date">last date to confirm-participation:
      </label>
                <input type="date" class="form-control" formControlName="due_date" id="due_date" autocomplete="off">
                <div class="error" *ngIf="creatEvent.controls['due_date'].hasError('required') && creatEvent.controls['due_date'].touched">
                    EventDueDate is required</div>
            </div>


            <div class="form-group col-md-6" name="num_tables">
                <label for="num_tables">number of tables:
      </label>
                <input type="number" class="form-control" formControlName="num_tables" id="num_tables" autocomplete="off">
                <div class="error" *ngIf="creatEvent.controls['num_tables'].hasError('required') && creatEvent.controls['num_tables'].touched">
                    NumTables is required</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" name="NumPlacesAroundATable">
                <label for="EventDueDate">Number of seats around table: </label>
                <input type="number" class="form-control" formControlName="num_places_around_a_table" id="num_places_around_a_table" autocomplete="off">
                <div class="error" *ngIf="creatEvent.controls['num_places_around_a_table'].hasError('required') && creatEvent.controls['num_places_around_a_table'].touched">
                    NumPlacesAroundATable is required</div>
            </div>
        </div>
        <button mat-raised-button class="btn-gold btn-smaller" (click)="openDialog()">Add category</button>
        <div class="category-wrapper">
            <span class="category-item" *ngFor="let a of catagryList">
               <i>{{a.des}}</i>
            </span>
        </div>
        <div class="footer-wrapper">
            <input type="button" class="btn-color btn-smaller pull-right" (click)="onUploudExel()" value="Continue to upload XL" [disabled]="!creatEvent.valid"> &nbsp;
            <input type="button" class="btn-color btn-smaller pull-right" (click)="onSubmit()" value="Continue to upload guests" [disabled]="!creatEvent.valid">

        </div>

    </form>
</div>