<div class="form-wrapper-large col-md-10 container-fluid" style="max-width: 700px;">
    <h1> Edit Guest</h1>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" style="font-size: large;">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="guest_first_name">First Name:</label>
                <input type="text" formControlName="guest_first_name" placeholder="First Name" name="guest_first_name" class="form-control" id="guest_first_name">
                <div class="error" *ngIf="editForm.controls['guest_first_name'].hasError('required') && editForm.controls['guest_first_name'].touched">guest first name is required</div>
            </div>

            <div class="form-group col-md-6">
                <label for="guest_last_name">Last Name:</label>
                <input formControlName="guest_last_name" placeholder="guest_last_name" name="guest_last_name" class="form-control" id="guest_last_name">
                <div class="error" *ngIf="editForm.controls['guest_last_name'].hasError('required') && editForm.controls['guest_last_name'].touched">guest last name is required</div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="guest_email">Guest email:</label>
                <input type="email" formControlName="guest_email" placeholder="guest_email" name="guest_email" class="form-control" id="guest_email">
                <div class="error" *ngIf="editForm.controls['guest_email'].hasError('required') && editForm.controls['guest_email'].touched">guest email is required</div>
            </div>

            <div class="form-group col-md-6">
                <label for="gender">Gender :</label>
                <input formControlName="gender" placeholder="gender" name="gender" class="form-control" id="gender">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="guest_message_before">Guest message before :</label>
                <input formControlName="guest_message_before" placeholder="guest_message_before" name="guest_message_before" class="form-control" id="guest_message_before">
            </div>
            <div class="form-group col-md-6">
                <label for="guest_message_after">Guest message after :</label>
                <input formControlName="guest_message_after" placeholder="guest_message_after" name="guest_message_after" class="form-control" id="guest_message_after">
            </div>
        </div>

        <div class="footer-wrapper">
            <button class="btn-color" (click)="EditGuest(guest)">Update</button>
        </div>
    </form>
</div>