<!-- <div class="about-wrapper">
    <h2>About Us</h2>
    <div>In many places in the world there are systems that build an inlay system manually. This system is characterized by great difficulty in its construction, and in malfunctions and disorder and organization. Also, there is no proper reference to constraints,
        priorities and fairness. In order to make it easier for those involved in the work of placing children, we decided to program an app that will do the job.
    </div>
</div> -->

<div class="about-wrapper">
    <h1>About Us</h1>
    <div>
        <p> In many places in the world there are systems that build an inlay system manually.</p>
        <p> This system is characterized by great difficulty in its construction, and in malfunctions and disorder and organization.
        </p>
        <p> Also, there is no proper reference to constraints, priorities and fairness.</p>
        <p> In order to make it easier for those involved in the work of placing children, we decided to program an app that will do the job.</p>



    </div>
</div>